/* Конструктор резюме
==================================================*/
.avatar__mother{
    display: flex;
    justify-content: center;
    width: 100%;
}
.avatar{
    width: 70%;
}
@media (max-width: 480px) {
    
    .ui-container {
        max-width: 350px !important;
    }
    
    .input__descr{
        width: 100%;
    }
    .descr {
        box-sizing: border-box;
    
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 21.9581px;
    
        height: 5vh;
    
        background: #FFFFFF;
    
        border: 0.914921px solid rgba(0, 0, 0, 0.12);
        border-radius: 14.6387px;
    
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    .yes__or__no{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: row
    }
    .yes__or__no__item{
        width: 32.33%;
    }

    .construct{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    
        /* display: flex; */
        /* align-items: center;
        align-content: center;
        justify-content: center; */
    
    }
    .conteiner__construct{
        margin-left: 20px;
        margin-right: 20px;
    }

    .section__adaptive{
        display: flex;
    }
    .section__adaptive .section2{
        width: 50%;
    }
    .div__contenteditable{
        background: #FFFFFF;
    
        border: 0.914921px solid rgba(0, 0, 0, 0.12);
        border-radius: 14.6387px;
        padding: 10px;
    }
}
@media (min-width: 481px){

    .descr {
        box-sizing: border-box;
    
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 21.9581px;
    
        height: 5vh;
    
        background: #FFFFFF;
    
        border: 0.914921px solid rgba(0, 0, 0, 0.12);
        border-radius: 14.6387px;
    
        margin-top: 10px;
        margin-bottom: 10px;

    }
    select.select{
        width: 100%;
    }
    
    .input__descr  {
        width: 100% ;
    }
    
    .section__construct{
        display:flex;
    }
    .contact{
        display:flex;
    }
    .contact .descr{
        width: 25%;
        margin:auto;
    }
    .name {   
        width:60%;
    }
    
    .avatar{
        width:40%;
        height: 100%;
    }
    .construct{
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
    
        /* display: flex; */
        /* align-items: center;
        align-content: center;
        justify-content: center; */
    
    }
    
    .personality{
        width: 40%;
    }
    .personality__form{
        width: 10%;
    }
    .section2{
        width: 50%;
    }
    
    .section3{
        width: 33.33%;
    }
    .yes__or__no{
        background: #FFFFFF;
        border: 0.914921px solid rgba(0, 0, 0, 0.12);
        border-radius: 14.6387px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section__construct .descr{
        margin-right: 10px;
    }
    
    .personality .descr{
        margin-right: 10px;
    }
    .checkboxes{
        margin-left: 10%;
        margin-right: 10%;
    }
    .div__contenteditable{
        background: #FFFFFF;
    
        border: 0.914921px solid rgba(0, 0, 0, 0.12);
        border-radius: 14.6387px;
        padding: 10px;
    }
}
@media print {
    .print__button{
        display: none;
    }
    .Non__Print{
        display: none !important;
    }
}