@import url('https://fonts.googleapis.com/css?family=Montserrat Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');


a {
    text-decoration: none;
}

body {
    
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Container
===================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header
===================*/

.header {
    width: 100%;
    height: 100px;
    background-color: #1E2833;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__logo img {
    width: 250px;
    height: 30px;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #31344e;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}


/* Nav
===================*/

.nav {
    display: flex;
    font-size: 17px;
    font-weight: 400;
}

.nav__link {
    margin-left: 40px;
    color: #fff;
    font-family: 'Jost';
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #A8ACF6;
}

/* Button
===================*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}

.btn--long {
    min-width: 280px;
}

/* Footer
===================*/

.container1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer {
    background-color: #1E2833;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}


.footer__block {
    width: 33.33333%;
    padding: 0 15px;
    text-align: right;
}

.footer__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: 'Jost';
    height: 42px;
    left: 8.85%;
    right: 70.1%;
    line-height: 42px;
}

.footer__title:hover {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #A8ACF6;
    font-family: 'Jost';
    height: 42px;
    left: 8.85%;
    right: 70.1%;
    line-height: 42px;
}

.footer__title1 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    color: #A8ACF6;
    font-family: 'Jost';
    height: 42px;
    left: 8.85%;
    right: 70.1%;
    line-height: 42px;
}

.footer__title2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    font-family: 'Jost';
    height: 42px;
    left: 8.85%;
    right: 70.1%;
    line-height: 42px;
    align-items: center;
}

.footer__address {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24.5942px 17.5673px;
    gap: 17.57px;
    height: 53px;
    width: 250px;
    background: rgba(230, 238, 250, 0.4);
    border: 1.75673px solid #CCDCF5;
    box-shadow: inset 0px 1.75673px 5.27019px rgba(255, 255, 255, 0.25), inset 0px -1.75673px 5.27019px #D8DCF8;
    border-radius: 14.0538px;
    margin-left: 10px;
    margin-top: 0 auto;
    align-items: center;
} 

.footer__address:hover {
    background: rgba(230, 238, 250, 0.4);
    border: 1.75673px solid #A8ACF6;
    box-shadow: inset 0px 1.75673px 5.27019px rgba(255, 255, 255, 0.25), inset 0px -1.75673px 5.27019px #D8DCF8;
    border-radius: 17.0538px;
}

.footer__address a {
    color: #A8ACF6;
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}

.ques {
    position: relative;
    width: 554px;
    height: auto;
    top: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 65px;
    color: #A8ACF6;
}

.footer__block__hight {
    width: 40%;
    padding: 0 15px;
    text-align: left;
    margin-top: 0px;
}
.footer__block__hight p {
    width: 506px;
    height: 177px;
    left: 166px;
    top: 3241px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #FFFFFF;

}

.footer__form {
    width: 60%;
    display: flex;
    justify-content: right;
    height: auto;
}

.form {

    width: 100%;
    justify-content: right;
}

.forms {
    color:#FFFFFF;
    box-sizing: border-box;
    border: 2.18973px solid #FFFFFF;
    border-radius: 11.6786px;
    width: 650px;
    height: 65px;
    background: #1E2833;
    margin: 5px;
    padding-left: 60px;
    font-size: 20px;
    font-family: 'Jost';
    
} 

.button {

    display: flex;
    justify-content: right;
}

.send {

    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 19.4444px;
    width: 218px;
    height: 40px;
    left: 1532px;
    top: 3348px;
    background: #A8ACF6;
    border: 1.94444px solid #A8ACF6;
    box-shadow: inset 0px 1.94444px 5.83333px rgba(255, 255, 255, 0.25), inset 0px -1.94444px 5.83333px #D8DCF8;
    border-radius: 15.5556px;
    margin-top: 20px;
    margin-right: 0px;
}

.send:hover {

    border: 2px solid #A8ACF6;
}


/* Copyright
===================*/
.copyrightperple {
    padding: 10px 0;
    background-color: #A8ACF6;
}

.copyright {
    padding: 20px 0;

    background-color: #2b3744;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}


/* Burger */
.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;

    background-color: #A8ACF6;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #A8ACF6;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 28px;
    top: -8px;
}

.burger__item:after {
    width: 28px;
    bottom: -8px;
}

.footer__block1 {

    width: 33%;
}

.footer__logo {

    width: 70%;
    margin-top: 0%;
}

/* Media
===================*/

@media (max-width: 1024px) {

    .footer__form {
        width: 60%;
        display: flex;
        justify-content: right;
        height: auto;
    }
    
    .form {
    
        width: 100%;
    }
    
    .forms {
        color:#FFFFFF;
        box-sizing: border-box;
    
        left: 43.89%;
        right: 9.03%;
        top: 78.84%;
        bottom: 19.01%;
    
        border: 2.18973px solid #FFFFFF;
        border-radius: 11.6786px;
    
        width: 550px;
        height: 60px;
        right: 0px;
    
        background: #1E2833;
        margin: 5px;
        
    } 
    
    .footer__block__hight {
        width: 30%;
        padding: 0 15px;
        text-align: left;
    }

    .footer__block__hight h4 {
        width: 100%;
        font-size: 25px;
        overflow:hidden;
    }

    .footer__block__hight p {
        width: 100%;
        height: 177px;
        left: 166px;
        top: 3241px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 33px;
        color: #FFFFFF;
        overflow:hidden;
    
    }
}

@media (max-width: 991px) {

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #1E2833;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
    }

    /* Burger */
    .burger {
        display: block;
    }

    .footer__block__hight p {
        display: none;
    }

}
 
@media (max-width: 820px) {

    /* Btn */
    .btn--long {
        min-width: 260px;
    }

    /* Footer */
    .footer__inner {
        padding: 30px 0;
    }

    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .footer__block:last-child {
        margin-bottom: 0;
    }

    .container1 {
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        height: auto;
    }

    .footer__block__hight {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .footer__block__hight h4 {
        display: flex;
        width: 100%;
        margin-top: 0px;
        margin-left: 130px;
    }

    .footer__block__hight p {
        display: none;
    }

    .footer__title2 {
        display: none;
    }

    .footer__block {
        width: 50%;
        text-align: center;
        margin-top: 50px;
    }

    .footer__block1 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .footer__inner {
        display: flex;
        justify-content: space-between;
    }



    .footer__form {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }
    
    .form {
    
        width: 100%;
        justify-content: right;
    }
    
    .forms {
        color:#FFFFFF;
        box-sizing: border-box;
        border: 2.18973px solid #FFFFFF;
        border-radius: 11.6786px;
        width: 650px;
        height: 65px;
        background: #1E2833;
        margin: 5px;
        padding-left: 60px;
        font-size: 20px;
        font-family: 'Jost';
        
    } 
    
    .button {
    
        display: flex;
        justify-content: left;
    }
    
    .send {
    
        box-sizing: border-box;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 19.4444px;
        width: 218px;
        height: 40px;
        left: 1532px;
        top: 3348px;
        background: #A8ACF6;
        border: 1.94444px solid #A8ACF6;
        box-shadow: inset 0px 1.94444px 5.83333px rgba(255, 255, 255, 0.25), inset 0px -1.94444px 5.83333px #D8DCF8;
        border-radius: 15.5556px;
        margin-top: 20px;
        margin-right: 0px;
    }


}

@media (max-width: 425px) {

    .footer__block__hight h4 {
        width: 90%;
        margin-top: 0px;
        font-size: 20px;
        margin-left: 0px;
    }



    .footer__form {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }
    
    .form {
    
        
        justify-content: right;
    }
    
    .forms {
        color:#FFFFFF;
        box-sizing: border-box;
        border: 2.18973px solid #FFFFFF;
        border-radius: 11.6786px;
        width: 400px;
        height: 65px;
        background: #1E2833;
        margin: 5px;
        padding-left: 60px;
        font-size: 20px;
        font-family: 'Jost';
        
    } 
    
    .button {
    
        display: flex;
        justify-content: center;
    }
    
    .send {
    
        box-sizing: border-box;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 19.4444px;
        width: 218px;
        height: 40px;
        left: 1532px;
        top: 3348px;
        background: #A8ACF6;
        border: 1.94444px solid #A8ACF6;
        box-shadow: inset 0px 1.94444px 5.83333px rgba(255, 255, 255, 0.25), inset 0px -1.94444px 5.83333px #D8DCF8;
        border-radius: 15.5556px;
        margin-top: 20px;
        margin-right: 0px;
    }


}


@media (max-width: 395px) {


    .footer__form {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }
    
    .form {
    
        justify-content: center;
    }
    
    .forms {
        color:#FFFFFF;
        box-sizing: border-box;
        border: 2.18973px solid #FFFFFF;
        border-radius: 11.6786px;
        width: 365px;
        height: 65px;
        background: #1E2833;
        margin: 5px;
        padding-left: 60px;
        font-size: 17px;
        font-family: 'Jost';
        
    } 
    
    .button {
    
        display: flex;
        justify-content: center;
    }
    
    .send {
    
        box-sizing: border-box;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 19.4444px;
        width: 218px;
        height: 40px;
        left: 1532px;
        top: 3348px;
        background: #A8ACF6;
        border: 1.94444px solid #A8ACF6;
        box-shadow: inset 0px 1.94444px 5.83333px rgba(255, 255, 255, 0.25), inset 0px -1.94444px 5.83333px #D8DCF8;
        border-radius: 15.5556px;
        margin-top: 20px;
    }
}

@media (max-width: 360px) {

    .forms {
        color:#FFFFFF;
        box-sizing: border-box;
        border: 2.18973px solid #FFFFFF;
        border-radius: 11.6786px;
        width: 355px;
        height: 65px;
        background: #1E2833;
        margin: 5px;
        padding-left: 60px;
        font-size: 17px;
        font-family: 'Jost';
        
    } 
}