.intro {
    margin: 100px 0 30px;
}

.intro__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.intro__item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.intro__item__text {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'Jost';
    color: #000000;
}

.intro__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 71.9775px;
}

#frame {
    width: 90%;
    left: 172px;
    top: 500px;
    background: rgba(168, 172, 246, 0.15);
    border-radius: 30.8571px;
    margin-bottom: 0;
    
}

.intro__name {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 43px;
    color: #2d3033;
}

.intro__text {
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: left;
    padding: 18px;
    margin-bottom: 0;

}

/* Organization
======================================= */

.organization {
    margin: 50px 0 30px;
}

.organization__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.organization__img__head {

    width: 45%;
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 10px;
}

.organization__people__head {

    width: 100%;
}

.organization__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    padding: 15px;
    text-align: left;
}

.organization__block__point {

    width: 50%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 15px;
    margin-top: -5px;
}

.organization__block {

    width: 100%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 15px;
}

.bold {

    font-weight: bold;
}

/* Rols
======================================= */

.rols {
    margin: 10px 0 10px;
}

.rols__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-left: 0px;
}

.rols__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    text-align: left;
}

.rols__block {

    width: 60%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-top: 25px;
}

.rols__img_1 {
    
    display: flex;
    width: 35%;
    height: 100%;
    margin-top: 60px;
    margin-left: 10px;
}

.rols__people_1 {

    width: 100%;
}

.rols__people {

    width: 100%;
    float: right;
    height: 90%;
}

.rols__block__arrow {

    width: 45%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-left: 10px;
    margin-top: 40px;
}

.rols__img__arrow {

    display: flex;
    width: 45%;
    height: 100%;
    margin-left: 10px;
    margin-top: 40px;
}

/* Adaptation
================================- */

.adaptation__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    text-align: left;
    margin-top: 40px;
}

.adaptation__block {

    width: 100%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-top: 25px;
}

/* Psychology */

.psychology {
    margin: 10px 0 10px;
}

.psychology__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.psychology__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 35px;
    color: #2405F2;
    margin-top: 35px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.psychology__block {

    width: 100%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-top: 25px;
    margin-left: 10px;
}

.color {

    font-weight: bold;
    color: #2405F2;

}


/* Media
===================================*/

@media (max-width: 2560px) {

    .intro__item__phone {
        display: none;
    }

    .organization__img {

        display: none
    }

    .rols__img_0 {

        display: none;
    }
}

@media (max-width: 1024px) {

    .organization__img {

        width: 45%;
        margin-right: 0px;
        margin-top: 50px;
        margin-left: 10px;
        height: 420px;
    }

    .intro__text {
        margin-bottom: 20px;
        margin-top: 60px;
        font-family: 'Jost';
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        text-align: left;
        padding: 18px;
    
    }

    #blocks {

        font-size: 18px;
    }

    .rols__img_1 {
    
        display: flex;
        width: 35%;
        height: 100%;
        margin-top: 20px;
        margin-left: 10px;
    }


}

@media (max-width: 820px) {

    .rols__block {

        width: 100%;
    }

    .rols__img_0 {

        display: flex;
        justify-content: center;
        width: 100%;
    }

    .rols__people_0 {

        width: 70%;
    }

    .rols__img_1 {

        display: none;
    }

    .organization__img__head {

        display: flex;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-top: 20px;
        margin-left: 10px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .organization__people__head {
    
        width: 80%;
    }

    .intro__text {
        display: none;
    }

    .intro__item__text {
        width: 100%;
        text-align: center;
    }

    .intro__item {

        display: flex;
        width: 100%;
        justify-content: center;
    }

    .intro__photo {

        width: 80%;
    }

    .summary {

        justify-content: center;
    }

    #blocks {

        font-size: 18px;
    }

    .organization__block__point {

        width: 100%;
    }
}
 
@media (max-width: 768px) {

    #header {

        width: 100%;
        text-align: center;
        font-size: 40px;
    }
    
    #blocks {

        font-size: 18px;
    }

    .organization__img__head {

        display: flex;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-top: 20px;
        margin-left: 10px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .organization__people__head {
    
        width: 80%;
    }

    .organization__block__point {

        width: 100%;
    }

    .rols__block {

        width: 100%;
    }

    .rols__img__arrow {

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .rols__block__arrow {

        width: 100%;

    }


}

@media (max-width: 425px) {

    .intro {

        margin-bottom: 0;
    }

    .intro__item__text {

        margin-bottom: 10px;
        margin-top: 10px;
    }

    .intro__name {

        margin-bottom: 0;
    }

    .intro__photo {

        width: 90%;
    }

    .summary {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 120.82px;
        padding: 0 15px;
        margin-bottom: 10px;
    }
    
    .fill__summary {
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 46.9854px 33.561px;
        gap: 33.56px;
        width: 350px;
        height: 110px;
        left: 172px;
        top: 718px;
        background: #323232;
        border: 3.3561px solid #D0D0D0;
        border-radius: 26.8488px;
    }

    #header {

        font-size: 30px;
        text-align: center;
        width: 100%;
        height: auto;
    }

    #blocks {

        font-size: 15px;
    }

    #header__rec {
        font-size: 20px;
    }

    /* Адаптив изображений */

    .phase__block__1 {

        width: 100%;
        font-family: 'Jost';
        font-weight: 200;
        font-size: 20px;
        color: #000000;
        padding: 0px;
        margin-top: 15px;
    }
    
    .phase__img__1 {
    
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-left: 10px;
    }

    .phase__people {

        width: 90%;
        float: right;
        height: 90%;
    }
    
    .flex {
        display: block;
    }

    .one__line {

        display: block;
        width: 100%;
    }

    .two__line {

        display: block;
        width: 100%;
    }

    .phase__block__3 {

        width: 100%;
        font-family: 'Jost';
        font-weight: 200;
        font-size: 20px;
        color: #000000;
        padding: 0px;
        margin-top: 25px;
    }
    
    .phase__img__3 {
    
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .phase__people__3 {
    
        width: 90%;
        float: left;
        height: 100%;
        margin-top: 5px;
        margin-left: 10px;
    }

    .block__skills__4_1 {
    
        width: 100%;
        height: auto;
        font-family: 'Jost';
        font-weight: 300;
        font-size: 20px;
        color: #000000;
        padding: 15px;
    }
    
    .block__skills__4_2 {
        
        width: 100%;
        height: auto;
        font-family: 'Jost';
        font-weight: 300;
        font-size: 20px;
        color: #000000;
        padding: 15px;
    }

}.intro {
    margin: 100px 0 30px;
}

.intro__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.intro__item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.intro__item__text {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'Jost';
    color: #000000;
}

.intro__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 71.9775px;
}

#frame {
    width: 90%;
    left: 172px;
    top: 500px;
    background: rgba(168, 172, 246, 0.15);
    border-radius: 30.8571px;
    margin-bottom: 0;
    
}

.intro__name {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 43px;
    color: #2d3033;
}

.intro__text {
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: left;
    padding: 18px;
    margin-bottom: 0;

}

/* Organization
======================================= */

.organization {
    margin: 50px 0 30px;
}

.organization__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.organization__img__head {

    width: 45%;
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 10px;
}

.organization__people__head {

    width: 100%;
}

.organization__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    padding: 15px;
    text-align: left;
}

.organization__block__point {

    width: 50%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 15px;
    margin-top: -5px;
}

.organization__block {

    width: 100%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 15px;
}

.bold {

    font-weight: bold;
}

/* Rols
======================================= */

.rols {
    margin: 10px 0 10px;
}

.rols__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-left: 0px;
}

.rols__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    text-align: left;
}

.rols__block {

    width: 60%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-top: 25px;
}

.rols__img_1 {
    
    display: flex;
    width: 35%;
    height: 100%;
    margin-top: 60px;
    margin-left: 10px;
}

.rols__people_1 {

    width: 100%;
}

.rols__people {

    width: 100%;
    float: right;
    height: 90%;
}

.rols__block__arrow {

    width: 45%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-left: 10px;
    margin-top: 40px;
}

.rols__img__arrow {

    display: flex;
    width: 45%;
    height: 100%;
    margin-left: 10px;
    margin-top: 40px;
}

/* Adaptation
================================- */

.adaptation__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    text-align: left;
    margin-top: 40px;
}

.adaptation__block {

    width: 100%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-top: 25px;
}

/* Psychology */

.psychology {
    margin: 10px 0 10px;
}

.psychology__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.psychology__header {

    width: 100%;
    height: auto;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 35px;
    color: #2405F2;
    margin-top: 35px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.psychology__block {

    width: 100%;
    font-family: 'Jost';
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin-top: 25px;
    margin-left: 10px;
}

.color {

    font-weight: bold;
    color: #2405F2;

}


/* Media
===================================*/

@media (max-width: 2560px) {

    .intro__item__phone {
        display: none;
    }

    .organization__img {

        display: none
    }

    .rols__img_0 {

        display: none;
    }
}

@media (max-width: 1024px) {

    .organization__img {

        width: 45%;
        margin-right: 0px;
        margin-top: 50px;
        margin-left: 10px;
        height: 420px;
    }

    .intro__text {
        margin-bottom: 20px;
        margin-top: 60px;
        font-family: 'Jost';
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        text-align: left;
        padding: 18px;
    
    }

    #blocks {

        font-size: 18px;
    }

    .rols__img_1 {
    
        display: flex;
        width: 35%;
        height: 100%;
        margin-top: 20px;
        margin-left: 10px;
    }


}

@media (max-width: 820px) {

    .rols__block {

        width: 100%;
    }

    .rols__img_0 {

        display: flex;
        justify-content: center;
        width: 100%;
    }

    .rols__people_0 {

        width: 70%;
    }

    .rols__img_1 {

        display: none;
    }

    .organization__img__head {

        display: flex;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-top: 20px;
        margin-left: 10px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .organization__people__head {
    
        width: 80%;
    }

    .intro__text {
        display: none;
    }

    .intro__item__text {
        width: 100%;
        text-align: center;
    }

    .intro__item {

        display: flex;
        width: 100%;
        justify-content: center;
    }

    .intro__photo {

        width: 80%;
    }

    .summary {

        justify-content: center;
    }

    #blocks {

        font-size: 18px;
    }

    .organization__block__point {

        width: 100%;
    }
}
 
@media (max-width: 768px) {

    #header {

        width: 100%;
        text-align: center;
        font-size: 40px;
    }
    
    #blocks {

        font-size: 18px;
    }

    .organization__img__head {

        display: flex;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-top: 20px;
        margin-left: 10px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .organization__people__head {
    
        width: 80%;
    }

    .organization__block__point {

        width: 100%;
    }

    .rols__block {

        width: 100%;
    }

    .rols__img__arrow {

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .rols__block__arrow {

        width: 100%;

    }


}

@media (max-width: 425px) {

    .intro {

        margin-bottom: 0;
    }

    .intro__item__text {

        margin-bottom: 10px;
        margin-top: 10px;
    }

    .intro__name {

        margin-bottom: 0;
    }

    .intro__photo {

        width: 90%;
    }

    .summary {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 120.82px;
        padding: 0 15px;
        margin-bottom: 10px;
    }
    
    .fill__summary {
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 46.9854px 33.561px;
        gap: 33.56px;
        width: 350px;
        height: 110px;
        left: 172px;
        top: 718px;
        background: #323232;
        border: 3.3561px solid #D0D0D0;
        border-radius: 26.8488px;
    }

    #header {

        font-size: 30px;
        text-align: center;
        width: 100%;
        height: auto;
    }

    #blocks {

        font-size: 15px;
    }

    #header__rec {
        font-size: 20px;
    }

    /* Адаптив изображений */

    .phase__block__1 {

        width: 100%;
        font-family: 'Jost';
        font-weight: 200;
        font-size: 20px;
        color: #000000;
        padding: 0px;
        margin-top: 15px;
    }
    
    .phase__img__1 {
    
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-left: 10px;
    }

    .phase__people {

        width: 90%;
        float: right;
        height: 90%;
    }
    
    .flex {
        display: block;
    }

    .one__line {

        display: block;
        width: 100%;
    }

    .two__line {

        display: block;
        width: 100%;
    }

    .phase__block__3 {

        width: 100%;
        font-family: 'Jost';
        font-weight: 200;
        font-size: 20px;
        color: #000000;
        padding: 0px;
        margin-top: 25px;
    }
    
    .phase__img__3 {
    
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .phase__people__3 {
    
        width: 90%;
        float: left;
        height: 100%;
        margin-top: 5px;
        margin-left: 10px;
    }

    .block__skills__4_1 {
    
        width: 100%;
        height: auto;
        font-family: 'Jost';
        font-weight: 300;
        font-size: 20px;
        color: #000000;
        padding: 15px;
    }
    
    .block__skills__4_2 {
        
        width: 100%;
        height: auto;
        font-family: 'Jost';
        font-weight: 300;
        font-size: 20px;
        color: #000000;
        padding: 15px;
    }

}